name: "Frogbot Scan and Fix"
on:
  workflow_dispatch:
  schedule:
    - cron:  '35 0 * * *'
#  push:
#    # Creating fix pull requests will be triggered by any push to one of the these branches.
#    # You can add or replace to any branch you want to open fix pull requests for.
#    branches:
#      - "main"
permissions:
  contents: write
  pull-requests: write
  security-events: write
jobs:
  create-fix-pull-requests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: [ "master" ]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}
      # Install prerequisites
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - uses: jfrog/frogbot@v2
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JF_INSTALL_DEPS_CMD: mvn install